@tailwind base;
@tailwind components;
@tailwind utilities;


@media (min-width:768px) {
    .text-orientation{
        text-orientation:mixed;
        writing-mode: vertical-rl;
        transform: rotate(180deg);
    }
}